@import url('https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700,800');

html{
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin:0px
}

#root{
    width: 100%;
    height: 100%
}

*{
    outline: none
}

.start-tabs{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px
}

.start-tab-header{
    min-height: 40px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.start-tab-header-item{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
    border-bottom: 2px solid white;
}

.start-tab-header-item.selected{
    border-bottom: 2px solid rgb(60, 154, 251);
}

.start-tab-content{
    width: 50%;
    min-height: 200px;
    height: 200px;
    margin-top: 20px
}

.start-tab{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    padding-top: 30px;
}

.start-input{
    -webkit-appearance: none;
    min-width: 250px;
    text-align: center;
    border: none;
    min-height: 35px;
    border-radius: 3px;
    color: rgb(129, 125, 128);
    background-color: rgb(246, 246, 246);
    font-weight: 500;
    font-size: 0.9em;
    margin: 5px;
    box-shadow: 0px 5px 25px -11px rgba(236, 238, 243, 0.9);
    border-bottom: 1px solid lightgrey;
}

.start-input:focus{
    border-bottom: 1px solid rgb(0, 78, 156);
}

input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
  }

  ::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
}

.start-input::placeholder{
    color: lightgrey;
}

.start-button{
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: rgb(60, 154, 251);
    color: white;
    cursor: pointer;
    margin-top: 50px;
    box-shadow: 0px 5px 32px -11px rgba(60, 154, 251,1);
    min-height: 40px
}

.start-button:hover{
    font-weight: 600;
    box-shadow: 0px 5px 32px -11px rgba(42, 107, 174, 1);
}


.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(245,249,251);
}

.home-header{
    max-width: 100%;
    min-height: 150px;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    flex-shrink: 0;
    box-shadow: 0px 8px 10px -11px rgba(42, 107, 174, 0.8);
}

.home-header-icons-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    min-height: 15px
}

.home-header-stats-wrapper{
    display: flex;
    margin-top: 30px;
    overflow-x: scroll
}

.home-header-stat-item-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    min-width: 100px;
}

.home-header-stat-item-wrapper.selected{
    background-color: rgb(60,154,251);
    border-radius: 3px;
    color: white ;
}


.home-header-stat-span{
    font-size: 0.8em;
    color: lightgrey;
}

.home-header-custom-h4{
    margin: 0px;
    margin-top: 10px;
}

.fa-power-off:hover{
    color: rgb(0, 78, 156)
}

.home-cards-container{
    padding:15px;
    display: flex;
    flex-wrap: wrap;
    overflow-y:overlay;
    flex:1;
    justify-content: center;
}

.home-card-wrapper{
    height: 150px;
    min-height: 150px;
    max-height: 200px;
    min-width: 100px;
    max-width: 200px;
    width: 200px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 5px 32px -11px rgba(215, 207, 211, 1);
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    margin:20px;
}

.home-card-wrapper:hover{
    box-shadow: 0px 5px 32px -11px rgba(150, 144, 147, 1);
}

.home-card-name-span{
    max-height: 70px;
    overflow-y: scroll;
    font-weight: 600;
    word-wrap: break-word;
}

.home-card-status-span{
    font-size: 0.8em;
    color: lightgrey;
    user-select: none;
    cursor: pointer;
}

.home-card-header{
    display: flex;
    flex-direction: column;
}

.home-card-bottom{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.home-card-button{
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    position: relative;
    transition: .5s;
}

.home-card-button:hover{
    position: absolute;
    bottom: 100%;
    padding-right: 25px;
    padding-left: 25px;
}

.home-add-button{
    height: 70px;
    width: 70px;
    background-color: rgb(60, 154, 251);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-size: 1em;
    position: absolute;
    right: 10%;
    top:170px;
    box-shadow: 0px 10px 30px -13px rgba(42, 107, 174, 40);
    cursor: pointer ;
    transition: .2s;
}

.home-add-button:hover{
    height: 75px;
    width: 75px;
    right: calc(10% - 2px);
    box-shadow: 0px 10px 50px -13px rgba(42, 107, 174, 60);
}

.home-add-form{
    position: absolute;
    right: 5%;
    top: 170px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 10px 30px -13px rgba(42, 107, 174, 40);
    padding: 20px;
    z-index: 9999;
    min-height: 240px;
}

.home-add-from-status-wrapper{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.home-add-from-submit-button{
    padding: 5px;
    background-color: rgb(60, 154, 251);
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.8em
}

.qr-code-wrapper{
    position: absolute;
    left:20px;
    top: 160px;
    display: block ;
}


.pointer{
    cursor: pointer;
}

.padding-left-0{
    padding-left: 0px
}

.margin-top-5{
    margin-top: 5px;
}

.margin-top-10{
    margin-top: 10px;
}


.margin-top-20{
    margin-top: 20px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-left-10{
    margin-left: 10px
}

.margin-right-10{
    margin-right: 10px
}

.color-blue{
    background-color: rgb(60, 154, 251);
}

.color-red{
    background-color:  rgb(251, 100, 61);
}

.color-white{
    background-color: white;
}

.color-lightgrey{
    background-color: lightgrey;
}

.color-icon{
    color: rgb(0, 78, 156)
}

.em-1-2{
    font-size:1.2em;
}

.em-0-9{
    font-size: 0.9em;
}

.weight-700{
    font-weight: 700;
}
.weight-600{
    font-weight: 600;
}

.weight-500{
    font-weight: 500;
}

.border-none{
    border: none;
}

.margin-0{
    margin:0px;
}

.margin-10{
    margin:10px;
}

.padding-0{
    padding: 0px;
}

.padding-bottom-1px{
    padding-bottom: 1px;
}

.border-bottom-blue{
    border-bottom: 1px solid rgb(60, 154, 251);
}




@media only screen and (max-width: 694px) {

    .qr-code-wrapper{
        display: none;
    }
}

@media only screen and (max-width: 930px) {
    .home-add-button {
        top:calc(100% - 100px);
    }
    .home-add-form{
        top:calc(100% - 310px);
    }
 }

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar:horizontal {
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: grey;
}